<add-to-cart>
  {%- form 'product',
    product,
    id: product.id,
    class: 'form flex gap-3 w-full',
    novalidate: 'novalidate',
    data-type: 'add-to-cart-form'
  -%}
    <input
      type="hidden"
      name="id"
      value="{{ product.selected_or_first_available_variant.id }}"
      class="product-variant-id"
      {% if product.selected_or_first_available_variant.available == false %}
        disabled
      {% endif %}
    >
    {% if hasQtd %}
      {% render 'quantity-selector', addToCart: true, height_class: 'h-12' %}
    {% else %}
      <input class="hidden" type="number" name="quantity" value="1" min="1">
    {% endif %}
    <button
      type="submit"
      name="add"
      class="color-button w-full h-12 text-xs font-medium uppercase tracking-[0.18em] transition-all hover:opacity-90"
      aria-haspopup="dialog"
      aria-live="polite"
      data-sold-out-message="true"
      data-text-desktop="{% if block.settings.button_text != blank %}{{ block.settings.button_text }}{% else %}{{ 'product.general.add_to_cart' | t }}{% endif %}"
      data-text-mobile="{{ 'product.general.add_to_cart' | t }}"
      {% if product.selected_or_first_available_variant.available == false %}
        disabled
      {% endif %}
    >
      {% if block.settings.button_text != blank %}{{ block.settings.button_text }}{% else %}{{ 'product.general.add_to_cart' | t }}{% endif %}
    </button>
  {%- endform -%}
</add-to-cart>
