<div class="card-product-slider">
  <a class="card-product-slider__card-link" href="{{ card_product.url }}">
    <div class="card-product-slider__image-container">
      <img
        class="card-product-slider__image"
        src="{{ card_product.featured_image | image_url }}"
        width="1500"
        height=""
      >
    </div>
    <div class="card-product-slider__info-container">
      <h3 class="card-product-slider__product-name">
        {{ card_product.title | escape }}
      </h3>
    </div>
    <div>
      <add-to-cart>
        {%- form 'product',
          card_product,
          id: card_product.id,
          class: 'form',
          novalidate: 'novalidate',
          data-type: 'add-to-cart-form'
        -%}
          <input
            type="hidden"
            name="id"
            value="{{ card_product.selected_or_first_available_variant.id }}"
            class="product-variant-id"
            {% if card_product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
          <button
            {% comment %} id="{{ product_form_id }}-submit" {% endcomment %}
            type="submit"
            name="add"
            class="quick-add__submit button button--full-width button--secondary card--horizontal__quick-add"
            aria-haspopup="dialog"
            {% comment %} aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}" {% endcomment %}
            aria-live="polite"
            data-sold-out-message="true"
            {% if card_product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
            ADICIONAR AO CARRINHO
          </button>
        {%- endform -%}
      </add-to-cart>
    </div>
  </a>
</div>
