<div class="border border-black p-4">
  <a class="" href="{{ card_product.url }}">
    <div class="w-full h-60 flex items-center justify-center overflow-hidden">
      <img
        class="!w-auto h-full hover:scale-110 transition-all"
        src="{{ card_product.featured_image | image_url }}"
        width="{{ card_product.featured_image.width }}"
        height="{{ card_product.featured_image.height }}"
        loading="lazy"
      >
    </div>
    <h3 class="h-12 line-clamp-2">
      {{ card_product.title | escape }}
    </h3>
    <div class="my-2">
      {% render 'price-v2', product: card_product, price_class: '', show_compare_at_price: true %}
      <div class="h-5">
        {% render 'installments', product: card_product %}
      </div>
    </div>
  </a>
  <div>
    {% render 'add-to-cart', product: card_product %}
  </div>
</div>
