<div class="group px-4">
  <a class="block" href="{{ card_product.url }}">
    <div class="relative w-full flex items-center justify-center">
      <img
        class="w-full h-auto aspect-[2/3] object-cover transition-opacity duration-500 ease-in-out {% if card_product.images.size > 1 %} group-hover:opacity-0 {% endif %}"
        src="{{ card_product.featured_image | image_url }}"
        width="{{ card_product.featured_image.width }}"
        height="{{ card_product.featured_image.height }}"
        loading="lazy"
      >
      {% if card_product.images.size > 1 %}
        {% assign second_image = card_product.images[1] %}
        <img
          class="absolute top-0 left-0 w-full h-auto aspect-[2/3] object-cover opacity-0 transition-opacity ease-in-out duration-500 group-hover:opacity-100"
          src="{{ second_image | image_url }}"
          width="{{ second_image.width }}"
          height="{{ second_image.height }}"
          loading="lazy"
        >
      {% endif %}
    </div>
    <h3 class="h-6 line-clamp-1 uppercase font-light text-[#616161] mt-2 text-sm">
      {{ card_product.title | escape }}
    </h3>
    <div class="my-2 flex gap-2">
      {% if card_product.compare_at_price_max > card_product.price_max %}
        {% render 'discount-flag', product: card_product %}
      {% endif %}
      {% render 'price-v2', product: card_product, price_class: '', show_compare_at_price: true %}
      {% comment %} <div class="h-5">
        {% render 'installments', product: card_product %}
      </div> {% endcomment %}
    </div>
  </a>
  {% comment %} <div>
    {% render 'add-to-cart', product: card_product %}
  </div> {% endcomment %}
</div>
