{{ 'cart.css' | asset_url | stylesheet_tag }}
<script src="{{ 'cart.js' | asset_url }}" defer></script>

<cart-drawer class="cart-drawer fixed z-50 left-0 top-0 w-screen h-full flex justify-end bg-[#12121280]">
  <div class="cart-drawer">
    <div class="cart-inner pb-10 h-full w-full sm:w-[385px] bg-white z-10 relative">
      <div class="cart-header flex h-16 shadow-lg px-4 items-center">
        <span class="flex-1 flex items-center justify-center font-bold text-lg">{{ 'cart.general.title' | t }}</span>
        <button
          class="w-5 hover:opacity-70 transition-opacity"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'general.accessibility.close' | t }}"
        >
          {% render 'icon-close' %}
        </button>
      </div>

      <div id="cart-empty" class="h-full {% if cart == empty %}flex{% else %}hidden{% endif %} items-center justify-center flex-col">
        <h3 class="text-2xl font-bold">{{ 'cart.general.empty' | t }}</h3>
        <p class="text-base text-gray-700">{{ 'cart.general.empty_text' | t }}</p>
      </div>

      <div id="cart-container" class="{% if cart == empty %}hidden{% else %}flex{% endif %} flex-col h-full">
        <div class="flex flex-col flex-1 overflow-y-auto" id="cart-items-container">
          {% for item in cart.items %}
            {% render 'cart-drawer-item', item: item %}
          {% endfor %}
        </div>
        <div class="p-4 shadow-[0_0_12px_rgba(0,0,0,0.15)]">
          <div id="cart-summary-total" class="summary flex flex-col gap-2 mb-4">
            <div class="flex justify-between text-sm">
              <div class="text-gray-600">{{ 'cart.general.subtotal' | t }}</div>
              <div class="subtotal font-medium">
                {{ cart.items_subtotal_price | money }}
              </div>
            </div>
            {% if cart.total_discount > 0 %}
              <div class="flex justify-between text-sm">
                <div class="color-text-muted">{{ 'cart.general.discounts' | t }}</div>
                <div class="discounts font-medium color-success">
                  -{{ cart.total_discount | money }}
                </div>
              </div>
            {% endif %}
            <div class="flex justify-between pt-2 border-t border-gray-200">
              <div class="font-semibold">{{ 'cart.general.total' | t }}</div>
              <div class="total-price font-bold text-lg">
                {{ cart.total_price | money }}
              </div>
            </div>
          </div>
          <button
            class="color-button-secondary w-full h-10 flex items-center justify-center mt-4 font-bold transition-colors rounded"
            type="button"
            onclick="this.closest('cart-drawer').close()"
          >
            {{ 'cart.general.continue_shopping' | t }}
          </button>
          <a
            href="/checkout"
            class="color-button flex cursor-pointer h-10 w-full items-center justify-center mt-4 font-bold transition-colors rounded hover:opacity-90"
            >{{ 'cart.general.checkout' | t }}</a
          >
        </div>
      </div>
    </div>
    <div id="minicart-overlay" class="fixed top-0 left-0 right-0 bottom-0"></div>
  </div>
</cart-drawer>
