<div class="flex cart-item" data-index="{{ item.index | plus: 1 }}" data-product="{{ item.id }}" data-product-id="{{ item. }}" data-key="{{ item.key }}">
  <div>
    {% if item.image %}
      <a href="{{ item.url }}" class="">
        <img
          class="cart-item__image"
          src="{{ item.image | image_url: width: 200 }}"
          alt="{{ item.image.alt | escape }}"
          loading="lazy"
          width="100"
          height="{{ 100 | divided_by: item.image.aspect_ratio | ceil }}"
        >
      </a>
    {% endif %}
  </div>
  <div class="flex-[1]">
    <small class="uppercase text-xs text-gray-700">{{ item.vendor }}</small>
    <div class="flex gap-5">
      <a href="{{ item.url }}" class="flex-1">
        <h3>{{ item.title }}</h3>
      </a>
      <remove-from-cart
        class="cursor-pointer w-6 h-6 flex items-center justify-center"
      >
        {% render 'icon-trash' %}
      </remove-from-cart>
    </div>
    <div class="flex justify-between items-center mt-3">
      <quantity-input class="border border-slate-900 flex" data-max-qtd="{{ item.variant.inventory_quantity }}">
        <button class="w-10 h-10 font-bold text-2xl flex items-center justify-center" id="quantity-minus">
          {% render 'minus-icon' %}
        </button>
        <input
          id="quantity-input"
          class="w-10 h-10 outline-none text-center text-base font-bold"
          type="number"
          readonly
          value="{{ item.quantity }}"
        >
        <button class="w-10 h-10 font-bold text-2xl flex items-center justify-center" id="quantity-plus">
          {% render 'plus-icon' %} 
        </button>
      </quantity-input>

      <div class="item-total-price text-lg font-medium">
        {{ item.final_line_price | money }}
      </div>
    </div>
  </div>
</div>
