<div class="flex gap-4 justify-end items-center max-lg:!flex-1 max-lg:order-3" style="flex: {{ flex }};">
  <a
    class="color-text transition-colors hidden lg:block"
    href="{{ routes.account_url }}"
    aria-label="{{ 'header.wishlist' | t }}"
  >
    {% render 'icon-wishlist', size: 24 %}
  </a>

  <a
    class="color-text transition-colors"
    href="{{ routes.account_url }}"
    aria-label="{{ 'header.account' | t }}"
  >
    {% render 'icon-user', size: 24 %}
  </a>

  <button
    id="minicart-button"
    class="color-text relative transition-colors"
    aria-label="{{ 'header.cart' | t }}"
  >
    {% render 'icon-cart', size: 24 %}
    <div
      id="qtd-bubble"
      aria-hidden="true"
      class="color-badge {% if cart.item_count > 0 %}flex{% else %}hidden{% endif %}
      w-[18px] h-[18px] rounded-full text-xs font-medium items-center justify-center absolute top-[-3px] left-[14px]"
    >
      {{ cart.item_count }}
    </div>
  </button>
</div>
