{% for block in blocks %}
  {% case block.type %}
    {%- when '@app' -%}
      {% render block %}
    {%- when 'text' -%}
      <p
        class="product__text inline-richtext{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
        {{ block.shopify_attributes }}
      >
        {{- block.settings.text -}}
      </p>
    {%- when 'title' -%}
      <div class="product__title" {{ block.shopify_attributes }}>
        <h1 class="text-3xl">{{ product.title | escape }}</h1>
      </div>
    {%- when 'price' -%}
      <div role="status" {{ block.shopify_attributes }}>
        {%- render 'price-v2', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
      </div>
    {%- when 'inventory' -%}
      <p>lero</p>
    {%- when 'description' -%}
      {%- if product.description != blank -%}
        <div class="product__description rte quick-add-hidden" {{ block.shopify_attributes }}>
          {{ product.description }}
        </div>
      {%- endif -%}
  {% endcase %}
{% endfor %}
