<nav style="flex: {{ flex }}" class="flex items-center lg:justify-center justify-start max-lg:!flex-1 max-lg:order-1">
  <!-- Menu Desktop -->
  <div class="menu-desk hidden lg:flex lg:justify-around lg:w-full">
    {% for link in linklist.links %}
      {% if link.links.size > 0 %}
        <div class="relative flex justify-center items-center h-full group/menu">
          <a
            href="{{ link.url }}"
            class="color-text transition-colors text-sm flex items-center"
            aria-haspopup="true"
          >
            {{ link.title }}
          </a>
          <ul class="color-background color-shadow rounded-lg transition-all duration-300 min-w-52 absolute p-3 -translate-y-full top-full pointer-events-none opacity-0 group-hover/menu:opacity-100 group-hover/menu:translate-y-0 group-hover/menu:pointer-events-auto group-focus-within/menu:opacity-100 group-focus-within/menu:translate-y-0 group-focus-within/menu:pointer-events-auto">
            {% for sublink in link.links %}
              <li class="py-1">
                <a class="color-text text-sm" href="{{ sublink.url }}">
                  {{ sublink.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <a
          class="color-text transition-colors text-sm flex items-center"
          href="{{ link.url }}"
        >
          {{ link.title }}
        </a>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Botão para abrir o menu mobile -->
  <div class="menu-toggle lg:hidden">
    <button
      id="mobile-menu-open"
      class="color-text p-2 text-xl"
      aria-label="{{ 'header.menu' | t }}"
      aria-controls="mobile-menu"
      aria-expanded="false"
    >
      <!-- Ícone do menu, por exemplo, um hamburger -->
      {% render 'icon-menu', size: 24 %}
    </button>
  </div>
</nav>

<!-- Estrutura do menu mobile off-canvas -->
<div
  id="mobile-menu"
  class="menu-mob color-background fixed w-full max-w-md inset-0 z-50 transform -translate-x-full transition-transform duration-300 lg:hidden mb-5 h-full"
  aria-hidden="true"
  inert
>
  <div class="p-4">
    <div class="flex items-center justify-center gap-2 mb-5">
      {% render 'search-component', flex: 1, showMobile: true %}
      <button id="mobile-menu-close" class="color-text p-4" aria-label="{{ 'general.accessibility.close_menu' | t }}">
        {% render 'icon-close', size: 24 %}
      </button>
    </div>
    <nav>
      <ul class="flex flex-col gap-4">
        {% for link in linklist.links %}
          <li>
            {% if link.links.size > 0 %}
              <button
                type="button"
                class="submenu-toggle color-text text-sm flex items-center w-full justify-between h-8"
                aria-expanded="false"
              >
                {{ link.title }}
                <!-- Ícone que indica abertura/fechamento, por exemplo uma seta -->
                <span class="transition-transform duration-300">
                  {% render 'icon-angle-down', size: 16 %}
                </span>
              </button>
              <ul class="submenu overflow-hidden transition-all duration-300 ml-4" style="height: 0;" aria-hidden="true">
                {% for sublink in link.links %}
                  <li class="py-1">
                    <a href="{{ sublink.url }}" class="color-text text-sm block h-8">
                      {{ sublink.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="{{ link.url }}" class="color-text text-sm h-8 flex items-center">
                {{ link.title }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
<div id="mobile-menu-overlay" class="fixed inset-0 bg-foreground/50 z-40 hidden"></div>
