<nav style="flex: {{ flex }}" class="flex items-center lg:justify-center justify-start max-lg:!flex-1 max-lg:order-1">
  <!-- Menu Desktop -->
  <div class="menu-desk hidden lg:flex lg:justify-around lg:w-full">
    {% for link in linklist.links %}
      {% if link.links.size > 0 %}
        <div class="relative flex justify-center items-center h-full group/menu">
          <a href="{{ link.url }}" class="transition-colors text-sm flex items-center {% if fixed_transparent %}text-[--icons_color2] group-hover:text-[--icons_color] group-[.is-scrolling]:text-[--icons_color]{% else %}text-[--icons_color]{% endif %}">
            {{ link.title }}
          </a>
          <ul class="transition-all duration-300 min-w-52 absolute p-3 -translate-y-full top-full bg-[--bg-header] pointer-events-none opacity-0 group-hover/menu:opacity-100 group-hover/menu:translate-y-0 group-hover/menu:pointer-events-auto">
            {% for sublink in link.links %}
              <li class="py-1">
                <a class="text-sm" href="{{ sublink.url }}">
                  {{ sublink.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <a class="transition-colors text-sm flex items-center {% if fixed_transparent %}text-[--icons_color2] group-hover:text-[--icons_color] group-[.is-scrolling]:text-[--icons_color]{% else %}text-[--icons_color]{% endif %}" href="{{ link.url }}">
          {{ link.title }}
        </a>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Botão para abrir o menu mobile -->
  <div class="menu-toggle lg:hidden">
    <button id="mobile-menu-open" class="p-2 text-xl {% if fixed_transparent %}text-[--icons_color2] lg:group-hover:text-[--icons_color] group-[.is-scrolling]:text-[--icons_color]{% else %}text-[--icons_color]{% endif %}">
      <!-- Ícone do menu, por exemplo, um hamburger -->
      {% render 'icon-menu', size: 24 %}
    </button>
  </div>
</nav>

<!-- Estrutura do menu mobile off-canvas -->
<div id="mobile-menu" class="menu-mob fixed w-full max-w-md inset-0 bg-[--bg-header] z-50 transform -translate-x-full transition-transform duration-300 lg:hidden mb-5 h-full" aria-hidden="true">
  <div class="p-4">
    <div class="flex items-center justify-center gap-2 mb-5">
      {% render 'search-component', flex: 1, showMobile: true %}
      <button id="mobile-menu-close" class="p-4 text-[--icons_color]">
        {% render 'icon-close', size: 24 %}
      </button>
    </div>
    <nav>
      <ul class="flex flex-col gap-4">
        {% for link in linklist.links %}
          <li>
            <a href="{{ link.url }}" class="text-sm text-[--icons_color] h-8 flex items-center">
              {{ link.title }}
            </a>
            {% if link.links.size > 0 %}
              <ul class="ml-4 mt-2">
                {% for sublink in link.links %}
                  <li>
                    <a href="{{ sublink.url }}" class="block text-sm text-[--icons_color]">
                      {{ sublink.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
<div id="mobile-menu-overlay" class="fixed inset-0 bg-black opacity-50 z-40 hidden"></div>
