<nav style="flex: {{ flex }}" class="flex items-center justify-around max-lg:!flex-1 max-lg:order-1">
  {% for link in linklist.links %}
    {% if link.links.size > 0 %}
      <div class="relative flex justify-center items-center h-full group/menu ">
        <a
          href="{{ link.url }}"
          class="transition-colors text-sm flex items-center {% if fixed_transparent %}text-[--icons_color2] group-hover:text-[--icons_color] group-[.is-scrolling]:text-[--icons_color]{% else %}text-[--icons_color]{% endif %}"
        >
          {{ link.title }}
        </a>
        <ul class="transition-all duration-300 min-w-52 absolute p-3 -translate-y-full top-full bg-[--bg-header] pointer-events-none opacity-0 group-hover/menu:opacity-100 group-hover/menu:translate-y-0 group-hover/menu:pointer-events-auto">
          {% for sublink in link.links %}
            <li class="py-1">
              <a class="text-sm" href="{{ sublink.url }}">
                {{ sublink.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <a
        class="transition-colors text-sm flex items-center {% if fixed_transparent %}text-[--icons_color2] group-hover:text-[--icons_color] group-[.is-scrolling]:text-[--icons_color]{% else %}text-[--icons_color]{% endif %}"
        href="{{ link.url }}"
      >
        {{ link.title }}
      </a>
    {% endif %}
  {% endfor %}
</nav>
