{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign money_price = price | money
  assign min_value = settings.min_value_installment | times: 100
  assign max_installment = settings.max_installments | default: 1

  assign show_installments_settings = settings.show_installments | default: true
  assign actual_installments = 1
  assign final_installment_value = 0

  if price > 0 and max_installment > 1 and min_value >= 0
    for i in (2..max_installment) reversed
      assign installment_value_check = price | divided_by: i
      if installment_value_check >= min_value
        assign actual_installments = i
        assign final_installment_value = installment_value_check
        break
      endif
    endfor
  endif

  assign final_installment_value = price | divided_by: actual_installments
-%}

<price-component
  class="flex flex-col"
  id="{{ product.id }}"
  data-mv="{{ min_value }}"
  data-mi="{{ max_installment }}"
>
  <div class="flex gap-2 items-center">
    <span class="listing-price line-through {% if compare_at_price > price %}{% else %} hidden {%- endif -%} {% if pdp %} text-lg {% else %} text-sm {% endif %} text-[#A9A9A9] font-light">
      {{- compare_at_price | money -}}
    </span>
    <span class="selling-price {% if pdp %} text-lg font-semibold {% else %} text-sm {% endif %} text-[#1E1E1E]">
      {{ money_price }}
    </span>
  </div>
  {%- if show_installments and show_installments_settings %}
    <div>
      <p class="instalment-container">
        Em até
        <span class="installment-value">{{ actual_installments }}x</span>
        de
        <span class="installment-price-value">{{ final_installment_value | money }}</span>
      </p>
    </div>
  {%- endif %}
</price-component>
