<div>
  <div>
    {% if section.settings.active_newsletter %}
      {% render 'newsletter', text: section.settings.newsletter_text %}
    {% endif %}
  </div>
  <div class="flex page-width !py-8 flex-col lg:flex-row gap-8 lg:gap-0">
    {% for block in section.blocks %}
      {% if block.type == 'links' %}
        <!-- Cada bloco de links_column gera uma coluna -->
        <div class="flex-1 flex flex-col gap-8">
          <h3 class="text-sm text-black font-normal">{{ block.settings.sublink_title }}</h3>
          {% if block.settings.linklist %}
            <ul>
              {% for link in block.settings.linklist.links %}
                <li>
                  <a class="text-sm text-[#505050]" href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

      {% elsif block.type == 'extra' %}
        <div class="flex-1 footer-extra flex flex-col gap-8">
          <!-- Formas de Pagamento -->
          <h3 class="text-sm text-black font-normal">{{ block.settings.title_payments }}</h3>
          <div class="payment-methods flex flex-wrap gap-4">
            {% if block.settings.pay_visa %}
              {% render 'icon-pay-visa' %}
            {% endif %}
            {% if block.settings.pay_mastercard %}
              {% render 'icon-pay-master' %}
            {% endif %}
            {% if block.settings.pay_elo %}
              {% render 'icon-pay-elo' %}
            {% endif %}
            {% if block.settings.pay_dinners %}
              {% render 'icon-pay-dinners' %}
            {% endif %}
            {% if block.settings.pay_american %}
              {% render 'icon-pay-american' %}
            {% endif %}
            {% if block.settings.pay_jcb %}
              {% render 'icon-pay-jcb' %}
            {% endif %}
            {% if block.settings.pay_aura %}
              {% render 'icon-pay-aura' %}
            {% endif %}
            {% if block.settings.pay_hiper %}
              {% render 'icon-pay-hiper' %}
            {% endif %}
            {% if block.settings.pay_sodexo %}
              {% render 'icon-pay-sodexo' %}
            {% endif %}
            {% if block.settings.pay_boleto %}
              {% render 'icon-pay-boleto' %}
            {% endif %}
            {% if block.settings.pay_pix %}
              {% render 'icon-pay-pix' %}
            {% endif %}
            {% if block.settings.pay_gpay %}
              {% render 'icon-pay-gpay' %}
            {% endif %}
            {% if block.settings.pay_yapay %}
              {% render 'icon-pay-yapay' %}
            {% endif %}
          </div>

          <!-- Redes Sociais -->
          {% if block.settings.active_social_media %}
            <h3 class="text-sm text-black font-normal">{{ block.settings.title_social_media }}</h3>
            <div class="social-links flex gap-2">
              {% if settings.social_facebook_link != blank %}
                <a href="{{ settings.social_facebook_link }}" target="_blank">
                  {% render 'icon-social-facebook' %}
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "footer",
  "settings": [
    {
      "type": "header",
      "content": "Newsletter",
      "info": "Informações sobre Newsletter"
    },
    {
      "type": "checkbox",
      "id": "active_newsletter",
      "label": "Exibe Newsletter?",
      "default": true,
      "info": "Exibe ou não a Newsletter"
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Texto da Newsletter",
      "default": "<h2>INSCREVA-SE EM NOSSA NEWSLETTER</h2><p>Fique por dentro das novidades, promoções e muito mais.</p>"
    }
  ],
  "blocks": [
    {
      "name": "Sub-links",
      "type": "links",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "sublink_title",
          "label": "Título dos Links",
          "placeholder": "ex: Institucionais"
        },
        {
          "type": "link_list",
          "id": "linklist",
          "label": "Lista de Links"
        }
      ]
    },
    {
      "name": "Pagamentos e Social",
      "type": "extra",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Redes Sociais"
        },
        {
          "type": "checkbox",
          "id": "active_social_media",
          "label": "Exibe Redes Sociais?",
          "default": true
        },
        {
          "type": "text",
          "id": "title_social_media",
          "label": "Título do bloco das Rede Sociais",
          "default": "SIGA-NOS"
        },
        {
          "type": "header",
          "content": "Formas de Pagamento",
          "info": "Selecione as bandeiras aceitas"
        },
        {
          "type": "text",
          "id": "title_payments",
          "label": "Título do bloco de Formas de Pagamento",
          "default": "FORMAS DE PAGAMENTO"
        },
        {
          "type": "checkbox",
          "id": "pay_mastercard",
          "label": "Exibe bandeira Mastercard?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_visa",
          "label": "Exibe bandeira Visa?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_elo",
          "label": "Exibe bandeira Elo?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_dinners",
          "label": "Exibe bandeira Dinners?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_american",
          "label": "Exibe bandeira American Express?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_jcb",
          "label": "Exibe bandeira JCB?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_aura",
          "label": "Exibe bandeira Aura?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_hiper",
          "label": "Exibe bandeira Hipercard?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_sodexo",
          "label": "Exibe bandeira Sodexo?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_boleto",
          "label": "Exibe Boleto?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_pix",
          "label": "Exibe Pix?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_gpay",
          "label": "Exibe bandeira GPay?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_yapay",
          "label": "Exibe bandeira Yapay?",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
