<div class="color-{{ section.settings.color_scheme }} color-background color-text">
  <div>
    {% if section.settings.active_newsletter %}
      <div class="color-{{ section.settings.newsletter_color_scheme }}">
        {% render 'newsletter', text: section.settings.newsletter_text %}
      </div>
    {% endif %}
  </div>
  <div class="flex page-width !py-8 flex-col lg:flex-row gap-8 lg:gap-0">
    {% for block in section.blocks %}
      {% if block.type == 'links' %}
        <!-- Cada bloco de links_column gera uma coluna -->
        <div class="flex-1 flex flex-col gap-8">
          <h3 class="text-sm color-text font-normal">{{ block.settings.sublink_title }}</h3>
          {% if block.settings.linklist %}
            <ul>
              {% for link in block.settings.linklist.links %}
                <li>
                  <a class="inline-block py-1 text-sm color-text-muted hover:opacity-80" href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

      {% elsif block.type == 'extra' %}
        <div class="flex-1 footer-extra flex flex-col gap-8">
          <!-- Formas de Pagamento -->
          <h3 class="text-sm color-text font-normal">{{ block.settings.title_payments }}</h3>
          <div class="payment-methods flex flex-wrap gap-4">
            {% if block.settings.pay_visa %}
              {% render 'icon-pay-visa' %}
            {% endif %}
            {% if block.settings.pay_mastercard %}
              {% render 'icon-pay-master' %}
            {% endif %}
            {% if block.settings.pay_elo %}
              {% render 'icon-pay-elo' %}
            {% endif %}
            {% if block.settings.pay_dinners %}
              {% render 'icon-pay-dinners' %}
            {% endif %}
            {% if block.settings.pay_american %}
              {% render 'icon-pay-american' %}
            {% endif %}
            {% if block.settings.pay_jcb %}
              {% render 'icon-pay-jcb' %}
            {% endif %}
            {% if block.settings.pay_aura %}
              {% render 'icon-pay-aura' %}
            {% endif %}
            {% if block.settings.pay_hiper %}
              {% render 'icon-pay-hiper' %}
            {% endif %}
            {% if block.settings.pay_sodexo %}
              {% render 'icon-pay-sodexo' %}
            {% endif %}
            {% if block.settings.pay_boleto %}
              {% render 'icon-pay-boleto' %}
            {% endif %}
            {% if block.settings.pay_pix %}
              {% render 'icon-pay-pix' %}
            {% endif %}
            {% if block.settings.pay_gpay %}
              {% render 'icon-pay-gpay' %}
            {% endif %}
            {% if block.settings.pay_yapay %}
              {% render 'icon-pay-yapay' %}
            {% endif %}
          </div>

          <!-- Redes Sociais -->
          {% if block.settings.active_social_media %}
            <h3 class="text-sm color-text font-normal">{{ block.settings.title_social_media }}</h3>
            <div class="social-links flex gap-2">
              {% if settings.social_instagram_link != blank %}
                <a href="{{ settings.social_instagram_link }}" target="_blank" rel="noopener" aria-label="Instagram">
                  {% render 'icon-social-instagram' %}
                </a>
              {% endif %}
              {% if settings.social_facebook_link != blank %}
                <a href="{{ settings.social_facebook_link }}" target="_blank" rel="noopener" aria-label="Facebook">
                  {% render 'icon-social-facebook' %}
                </a>
              {% endif %}
              {% if settings.social_youtube_link != blank %}
                <a href="{{ settings.social_youtube_link }}" target="_blank" rel="noopener" aria-label="YouTube">
                  {% render 'icon-social-youtube' %}
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "class": "footer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.footer.settings.color_scheme.label",
      "default": "scheme-1",
      "info": "t:sections.footer.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.newsletter.content",
      "info": "t:sections.footer.settings.newsletter.info"
    },
    {
      "type": "checkbox",
      "id": "active_newsletter",
      "label": "t:sections.footer.settings.active_newsletter.label",
      "default": true,
      "info": "t:sections.footer.settings.active_newsletter.info"
    },
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "t:sections.footer.settings.newsletter_text.label",
      "default": "<h2>INSCREVA-SE EM NOSSA NEWSLETTER</h2><p>Fique por dentro das novidades, promoções e muito mais.</p>"
    },
    {
      "type": "color_scheme",
      "id": "newsletter_color_scheme",
      "label": "t:sections.footer.settings.newsletter_color_scheme.label",
      "default": "scheme-2",
      "info": "t:sections.footer.settings.newsletter_color_scheme.info"
    }
  ],
  "blocks": [
    {
      "name": "t:sections.footer.blocks.links.name",
      "type": "links",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "sublink_title",
          "label": "t:sections.footer.blocks.links.settings.sublink_title.label",
          "placeholder": "t:sections.footer.blocks.links.settings.sublink_title.placeholder"
        },
        {
          "type": "link_list",
          "id": "linklist",
          "label": "t:sections.footer.blocks.links.settings.linklist.label"
        }
      ]
    },
    {
      "name": "t:sections.footer.blocks.extra.name",
      "type": "extra",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.footer.blocks.extra.settings.social_media.content"
        },
        {
          "type": "checkbox",
          "id": "active_social_media",
          "label": "t:sections.footer.blocks.extra.settings.active_social_media.label",
          "default": true
        },
        {
          "type": "text",
          "id": "title_social_media",
          "label": "t:sections.footer.blocks.extra.settings.title_social_media.label",
          "default": "SIGA-NOS"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.extra.settings.payment_methods.content",
          "info": "t:sections.footer.blocks.extra.settings.payment_methods.info"
        },
        {
          "type": "text",
          "id": "title_payments",
          "label": "t:sections.footer.blocks.extra.settings.title_payments.label",
          "default": "FORMAS DE PAGAMENTO"
        },
        {
          "type": "checkbox",
          "id": "pay_mastercard",
          "label": "t:sections.footer.blocks.extra.settings.pay_mastercard.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_visa",
          "label": "t:sections.footer.blocks.extra.settings.pay_visa.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_elo",
          "label": "t:sections.footer.blocks.extra.settings.pay_elo.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_dinners",
          "label": "t:sections.footer.blocks.extra.settings.pay_dinners.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_american",
          "label": "t:sections.footer.blocks.extra.settings.pay_american.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_jcb",
          "label": "t:sections.footer.blocks.extra.settings.pay_jcb.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_aura",
          "label": "t:sections.footer.blocks.extra.settings.pay_aura.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_hiper",
          "label": "t:sections.footer.blocks.extra.settings.pay_hiper.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_sodexo",
          "label": "t:sections.footer.blocks.extra.settings.pay_sodexo.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_boleto",
          "label": "t:sections.footer.blocks.extra.settings.pay_boleto.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_pix",
          "label": "t:sections.footer.blocks.extra.settings.pay_pix.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_gpay",
          "label": "t:sections.footer.blocks.extra.settings.pay_gpay.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pay_yapay",
          "label": "t:sections.footer.blocks.extra.settings.pay_yapay.label",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
