<script src="{{ 'header.js' | asset_url }}" async></script>

{%- liquid
  assign fixed = section.settings.fixed_header
  assign transparent = section.settings['transparent-header']
  assign bg_header = section.settings.header_bg | default: '#FFFFFF'
  assign icons_color = section.settings.icons_color | default: '#000000'
  assign icons_color_2 = section.settings.icons_color_secondary | default: '#000000'
  assign fixed_transparent = false

  if template.name == 'index'
    if fixed and transparent
      assign header_type = 'fixed-transparent'
      assign fixed_transparent = true
    elsif fixed and transparent == false
      assign header_type = 'fixed'
    elsif fixed == false and transparent
      assign header_type = 'transparent'
    else
      assign header_type = 'basic'
    endif
  else
    if fixed
      assign header_type = 'fixed'
    else
      assign header_type = 'basic'
    endif
  endif

  case section.settings['menu-type']
    when 'centered-logo-menu-under'
      assign logo_center = true
      assign menu_under = true
      assign search_position = 'left'
      assign search_hidden = false
    when 'logo-left-centered-menu'
      assign logo_center = false
      assign menu_under = false
      assign search_position = 'right'
      assign search_hidden = false
    when 'logo-left-centered-menu-search-hidden'
      assign logo_center = false
      assign menu_under = false
      assign search_position = 'right'
      assign search_hidden = true
    when 'logo-left-menu-under-centered-search'
      assign logo_center = false
      assign menu_under = true
      assign search_position = 'center'
      assign search_hidden = false
    else
      assign logo_center = false
      assign menu_under = true
      assign search_position = 'center'
      assign search_hidden = false
  endcase
-%}

<style>
  :root{
    --bg-header: {{ bg_header }};
    --icons_color: {{ icons_color }};
    --icons_color2: {{ icons_color_2 }};
    --bg-search: #f1f1f180;
    --bg-search-hover: #f1f1f1;
  }

  .is-scrolling {
    @apply bg-[--bg-header];
  }
</style>

<header class="w-full">
  <main-header class="w-full block relative z-10" data-type="{{ header_type }}">
    <div
      id="main-header-container"
      class="w-full transition-all duration-300 {% if transparent == false %}bg-[--bg-header]{% endif %} {% if fixed %}fixed{% endif %} {% if transparent and fixed == false %} absolute top-0 {% endif %} {% if header_type == "fixed-transparent" %} hover:bg-[--bg-header] {% endif %} group group-[.is-scrolling]"
    >
      <div class="!py-3 page-width w-full">
        <div class="flex justify-between">
          {% if logo_center == false %}
            {% render 'logo', header_type: header_type %}
          {% endif %}
          {% if search_position == 'left' and search_hidden == false %}
            {% render 'search-component', flex: 1 %}
          {% endif %}
          {% if logo_center %}
            {% render 'logo' %}
          {% endif %}
          {% if search_position == 'center' and search_hidden == false %}
            {% render 'search-component', flex: 3 %}
          {% endif %}
          {% if menu_under == false %}
            {% render 'main-menu', linklist: section.settings.menu, flex: 5, fixed_transparent: fixed_transparent %}
          {% endif %}
          {% if search_position == 'right' and search_hidden == false %}
            {% render 'search-component', flex: 1.5, showMobile: false %}
          {% endif %}

          {% render 'header-icons', header_type: header_type, flex: 1 %}
        </div>
        {% if menu_under %}
          {% render 'main-menu', linklist: section.settings.menu, flex: 1, fixed_transparent: fixed_transparent  %}
        {% endif %}
      </div>
    </div>
  </main-header>
</header>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu Principal",
    },
    {
      "type": "select",
      "id": "menu-type",
      "label": "Tipo de header desktop",
      "options": [
        {
          "value": "centered-logo-menu-under",
          "label": "Logo centralizada, menu abaixo, busca a esquerda"
        },
        {
          "value": "logo-left-centered-menu",
          "label": "Logo a esquerda, menu central, busca minimizada"
        },
        {
          "value": "logo-left-centered-menu-search-hidden",
          "label": "Logo a esquerda, menu central, busca escondida"
        },
        {
          "value": "logo-left-menu-under-centered-search",
          "label": "Logo a esquerda, menu abaixo, busca centralizada"
        }
      ],
      "default": "logo-left-menu-under-centered-search"
    },
    {
      "type": "checkbox",
      "default": true,
      "id": "fixed_header",
      "label": "Header acompanha scroll?",
      "info": "Se ativado, o header sempre acompanhará o scroll"
    },
    {
      "type": "checkbox",
      "default": true,
      "id": "transparent-header",
      "label": "Header transparente?",
      "info": "Se ativado, o header será transparente e ficará por cima da primeira seção."
    },
    {
      "type": "color",
      "id": "header_bg",
      "label": "Cor background do Header",
      "info": "Caso seja header transparente e acompanhar scroll, essa cor exibirá quando o usuário 'scrollar' a página",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "icons_color",
      "label": "Cor dos ícones header (Primário)",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "icons_color_secondary",
      "label": "Cor dos Ícones header (Secundário)",
      "default": "#FFFFFF"
    }
  ]
}
{% endschema %}
