{% comment %}
  <link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">

    {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
    {{ 'component-cart.css' | asset_url | stylesheet_tag }}
    {{ 'component-totals.css' | asset_url | stylesheet_tag }}
    {{ 'component-price.css' | asset_url | stylesheet_tag }}
    {{ 'component-discounts.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{% endcomment %}

<header class="bg-slate-500">
  <div class="page-width w-full">
    <div class="flex justify-between items-center">
      <div>SEARCH</div>
      <div>
        <h1>
          <a href="{{ routes.root_url }}">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{
                  settings.logo
                  | image_url: width: 600
                  | image_tag:
                    class: 'header__heading-logo motion-reduce',
                    widths: widths,
                    height: logo_height,
                    width: settings.logo_width,
                    alt: logo_alt,
                    sizes: sizes,
                    preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </h1>
      </div>
      <div class="flex">
        <div>ACCOUNT</div>
        <div>MINICART</div>
      </div>
    </div>
    <div></div>
  </div>
</header>
