{% assign media_size = section.settings.media_size %}
{% assign media_position = section.settings.media_position %}

<div class="page-width">
  <div class="flex flex-col {% if media_position == 'left' %} lg:flex-row-reverse {% else %} lg:flex-row {% endif %}">
    <div
      class="{% if media_size == 'small' or media_size == 'medium' %} lg:flex-1 {% elsif media_size == 'large' %} lg:flex-[2] {% endif %}"
    ></div>
    <div
      class="{% if media_size == 'medium' or media_size == 'large' %} lg:flex-1 {% elsif media_size == 'small' %} lg:flex-[2] {% endif %}"
    >
      {% for block in section.blocks %}
        {% case block.type %}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p
              class="product__text inline-richtext{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}"
              {{ block.shopify_attributes }}
            >
              {{- block.settings.text -}}
            </p>
          {%- when 'title' -%}
            <div class="product__title" {{ block.shopify_attributes }}>
              <h1>{{ product.title | escape }}</h1>
              <a href="{{ product.url }}" class="product__title">
                <h2 class="h1">
                  {{ product.title | escape }}
                </h2>
              </a>
            </div>
          {%- when 'price' -%}
            <div id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
              {%- render 'price-v2',
                product: product,
                use_variant: true,
                show_badges: true,
                price_class: 'price--large'
              -%}
            </div>

            <div {{ block.shopify_attributes }}>
              {%- assign product_form_installment_id = 'product-form-installment-' | append: section.id -%}
              {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}
            </div>
          {%- when 'inventory' -%}
            <p
              class="product__inventory{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}{% if product.selected_or_first_available_variant.inventory_management != 'shopify' %} visibility-hidden{% endif %}"
              {{ block.shopify_attributes }}
              id="Inventory-{{ section.id }}"
              role="status"
            >
              lero
            </p>
          {%- when 'description' -%}
            {%- if product.description != blank -%}
              <div class="product__description rte quick-add-hidden" {{ block.shopify_attributes }}>
                {{ product.description }}
              </div>
            {%- endif -%}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Produto",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Mídia (Imagens do produto)"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "Pequeno (1/3 da tela)"
        },
        {
          "value": "medium",
          "label": "Médio (1/2 da tela)"
        },
        {
          "value": "large",
          "label": "Largo (2/3 da tela)"
        }
      ],
      "default": "medium",
      "label": "Largura da mídia para desktop",
      "info": "A mídia é otimizada automaticamente para dispositivos móveis."
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "options": [
        {
          "value": "stacked",
          "label": "Empilhado"
        },
        {
          "value": "columns",
          "label": "Colunas"
        },
        {
          "value": "thumbnail",
          "label": "Miniaturas"
        },
        {
          "value": "thumbnail_slider",
          "label": "Carrosel de miniaturas"
        }
      ],
      "default": "stacked",
      "label": "Layout para desktop"
    },
    {
      "type": "select",
      "id": "media_position",
      "options": [
        {
          "value": "left",
          "label": "Esquerda"
        },
        {
          "value": "right",
          "label": "Direita"
        }
      ],
      "default": "left",
      "label": "Posição da mídia no desktop",
      "info": "A posição é otimizada automaticamente para dispositivos móveis."
    },
    {
      "type": "select",
      "id": "image_zoom",
      "options": [
        {
          "value": "lightbox",
          "label": "Abrir Modal"
        },
        {
          "value": "hover",
          "label": "Clicar e passar o cursor"
        },
        {
          "value": "none",
          "label": "Sem zoom"
        }
      ],
      "default": "lightbox",
      "label": "Zoom de imagem",
      "info": "Clique e passe o cursor para abrir a janela modal no celular."
    },
    {
      "type": "select",
      "id": "mobile_thumbnails",
      "options": [
        {
          "value": "columns",
          "label": "Colunas"
        },
        {
          "value": "show",
          "label": "Exibir miniaturas"
        },
        {
          "value": "hide",
          "label": "Ocultar miniaturas"
        }
      ],
      "default": "hide",
      "label": "Layout em dispositivos móveis"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Texto",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Texto"
        }
      ]
    },
    {
      "type": "title",
      "name": "Nome do Produto",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Preço do Produto",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "inventory",
      "name": "Status de Estoque",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "Corpo"
            },
            {
              "value": "subtitle",
              "label": "Legenda"
            },
            {
              "value": "uppercase",
              "label": "Letras Maipusculas"
            }
          ],
          "default": "body",
          "label": "Corpo"
        },
        {
          "type": "range",
          "id": "inventory_threshold",
          "label": "Limite de Estoque",
          "min": 0,
          "max": 100,
          "step": 1,
          "info": "Escolha 0 para sempre mostrar no estoque, se disponível",
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "show_inventory_quantity",
          "label": "Mostrar contagem de estoque",
          "default": true
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Seletor de quantidade",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "Seletor de variante",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "Menu suspenso"
            },
            {
              "value": "button",
              "label": "Pílulas (Botões)"
            }
          ],
          "default": "button",
          "label": "Estilo"
        },
        {
          "id": "swatch_shape",
          "label": "Amostra",
          "type": "select",
          "options": [
            {
              "value": "circle",
              "label": "Círculo"
            },
            {
              "value": "square",
              "label": "Quadrado"
            },
            {
              "value": "none",
              "label": "Nenhum"
            }
          ],
          "default": "circle"
        }
      ]
    }
  ]
}
{% endschema %}
